:root{
    --azul-marinho:#01012b;
    --azul-ciano:#05d9e8;
    --branco-azul:#d1f7ff;
}

body{
    background-color: var(--azul-marinho);
    color: var(--azul-ciano);
}

.container-sm{
    max-width: 50%;
}

.form-control{
    background-color: rgb(15, 22, 85);
    color: var(--azul-ciano);
}

#floatingInput,#floatingPassword{
    background-color: rgb(15, 22, 85);
    color: var(--azul-ciano);
}

.btn{
    background-color:#005678;
    color: var(--branco-azul);
}
